.counter-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 48px;
  font-weight: bold;
  margin: 0 20px;
}

.button {
  background-color: #fff;
  border: 2px solid #ccc;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}
